body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #293358;
    padding: 10px 20px;
}

header a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin: 0 10px;
}

header img {
    height: 40px;
}
nav {
    display: flex;
    gap: 20px;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}



.search-bar {
    display: flex;
    align-items: center;
    background-color: #444;
    border-radius: 25px; 
    padding: 1px 30px; 
}

.search-bar input {
    border: none;
    background: none;
    color: white;
    outline: none;
    padding: 10px 15px;
    width: 200px;
    font-size: 16px; 
    border-radius: 20px;
}

.search-bar button {
    background: none;
    border: none;
    color: white;
    font-size: 18px; 
    cursor: pointer;
    margin-left: 15px; 
}


.profil-utilisateur {
    position: relative;
    display: inline-block;
}


.icone-utilisateur {
    cursor: pointer;
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
    object-fit: cover; 
    border: 2px solid #ccc; 
}

/* Style pour le menu déroulant */
.menu-deroulant {
    display: none; /* Cacher le menu par défaut */
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}


.menu-deroulant a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.menu-deroulant a:hover {
    background-color: #f1f1f1;
}

.bouton-deconnexion {
    background-color: #ff4d4d; 
    color: white;
    border: none;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%; 
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px; 
    margin-top: 8px; 
    transition: background-color 0.3s ease;
}

.bouton-deconnexion:hover {
    background-color: #d93636; 
}



.container {
    padding: 20px;
}

/* Carte collection */

.game-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.game-card h3 {
    margin-top: 0;
}

.game-card button {
    background-color: #002147;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.game-card button:hover {
    background-color: #003366;
}

/* Boutons */

.actions {
    margin: 20px;
    display: flex;
    justify-content: flex-end; 
    gap: 10px; 
}


.actions button {
    background-color: #293358;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.actions button:hover {
    background-color: #1f2949;
}



/* Popups */

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 20px;
    width: 300px;
    text-align: center;
}



.popup-content h2 {
    margin-bottom: 20px;
    font-size: 20px;
}



.popup-content form {
    display: flex;
    flex-direction: column;
    gap: 10px;

}



.popup-content button {
    background-color: #293358;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}



.popup-content button:hover {
    background-color: #1f2949;
}



/* Footer */
.footer {
    text-align: center;
    padding: 10px 0;
    background-color: #293358;
    color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: white;
    text-decoration: none;
}

footer p {
    margin: 5px 0;
}
